{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1>Contenu du Panier</h1>
{{ dump (panier) }}
<br>
{{dump(panier.detailProduitLocations)}}

{% for detail in panier.detailProduitLocations %}

    <h4> {{ detail.PrototypeProduit.NomProduit }}: </h4>

    <p>
    <span>{{ detail.QuantiteTotal }} unités</span>
    <span><a href='{{ path ("app_produit_show",{'id': detail.PrototypeProduit.id}) }}'>show</a></span>
    {#<img src='{{ asset ("/images/" ~ detail.PrototypeProduit.Image ) }}' style="width:150px"/>#}
    <span><a href='{{ path ("panier_effacer_detail",{'id': detail.PrototypeProduit.id}) }}'>Effacer</a><span>
    <span>Total produit: {{ detail.Montant }} euros</span>
    </p>
    <hr>
{% endfor %}

<h3>Total : {{ panier.Total }} euros</h3>

{# Créez les liens selon vos besoins  #}
<h3><a href="{{ path ('commande_passer') }}">Passer la commande</a></h3>  
<h3><a href="{{ path ('app_produit_index') }}">Retour aux achats</a></h3>  


{% endblock %}
