{% extends 'base.html.twig' %}

{% block body %}
    Products
    <br>
    {# {{ dump (produits) }} ->tab inviata a View #}
    {% for prototype in produits %}
        <br>
        {{ prototype.NomProduit }},
        {{ prototype.PrixLocationUnitaire }},  
        <img src="{{ asset ('./assets/images/' ~ prototype.Image) }}" width="100px">   
        {{ prototype.Description}},      
        {{ prototype.TailleCapacite}},
        {{ prototype.PrixLocationUnitaire}},
        {{ prototype.Stock}},
        {{prototype.Category.Label}}
        {#<a href="{{ path('home/deatil/{id}', {'id': prototype_produit.id}) }}">show</a>#}
    {% endfor %}
    <br><br>
        <select >
            <option >Scelta per categoria</option>   
            {% for category in categories %}
                <option >{{category.Label}}</option>
            {% endfor %}
        </select>
    {# {{ produit.description | default ("pas de description")}}#}
        {% if app.user %}
        <div class="mb-3">
        {# app.user.email o app.user.nom -> dipende da quello che vuoi visualizzare#}
            You are logged in as {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        <div class="mb-3">
        {# app.user.email o app.user.nom -> dipende da quello che vuoi visualizzare#}
            <a href="{{ path('app_restaurant_new') }}">Aggiungi un tuo Resto</a>
        </div>

    {% endif %}
{% endblock %}