{% extends 'base.html.twig' %}

{% block title %}PrototypeProduit
{% endblock %}

{% block body %}
	<h1>PrototypeProduit</h1>

	{% if app.user %}
		<div
			class="mb-3">
			{# app.user.email o app.user.nom -> dipende da quello che vuoi visualizzare#}
			You are logged in as
			{{ app.user.nom }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
		{#<a href="{{ path('app_panier_new') }}"> ???Aggiungi al paniere</a>#}
	{% endif %}

	{% if  app.user == null %}
		<div class="mb-3">
			<a href="{{ path('app_login') }}">Login for buy!</a>
		</div>
	{% endif %}
	{#{{dump(app.user)}}#}
	{{dump(prototype_produit)}}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ prototype_produit.id }}</td>
			</tr>
			<tr>
				<th>Nom_produit</th>
				<td>{{ prototype_produit.NomProduit }}</td>
			</tr>
			<tr>
				<th>PrixLocationUnitaire</th>
				<td>{{ prototype_produit.PrixLocationUnitaire }}</td>
			</tr>
			<tr>
				<th>Taille_Capacite</th>
				<td>{{ prototype_produit.TailleCapacite }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ prototype_produit.Description }}</td>
			</tr>
			<tr>
				<th>Stock</th>
				<td>{{ prototype_produit.Stock }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>
					{#<img src="{{asset('assets/images/'~ prototype_produit.Image)}}" width="150px"/>#}
				</td>
			</tr>
		</tbody>
	</table>

    {# se sei loggato puoi comprare #}
	{% if app.user %}
		<div class="mb-3">
			<form action="{{ path("panier_add_produit_plusieurs") }}" method="POST">

                <label>Select your Resto</label>
                <select name="id_resto">
                {% for Resto in Restos %}
                <option value="{{Resto.id}}">{{Resto.Nom}}</option>
                {% endfor %}
                </select>

				{#<input type="hidden" name="id" value="{{ prototype_produit.id }}">		#}
				<input type="number" name="id" value="{{prototype_produit.id}}> 
				Quantité à rajouter:<input type="number" name="quantite" value="10" min="0" step="10" max="{{ prototype_produit.Stock}}">
				<input type="submit" value="Rajouter">
			</form>
		</div>
	{% endif %}


	<a href="{{ path('app_produit_index') }}">back to list</a>

	{# se sei Admin, puoi Update/delete un prodotto#}
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_produit_edit', {'id': prototype_produit.id}) }}">edit</a>
		{{ include('produit/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}

